name: Python CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
       
    - name: Set up Python
      uses: actions/setup-python@v2.3.2  # Actualizar a la versión más reciente
      with:
        python-version: 3.8

    - name: Run tests
      run: |
        python -m unittest test_suma.py

    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
